<div>
  <% if (content.length === 0) { %>
      <p>No Scrapped Content found.</p>
  <% } else { %>
      <% content.forEach(function(item) { %>
          <div>
              <a href="./content/<%= item.title %>">
                  <h1><%= item.title %></h1>
              </a>
              <table>
                <thead>
                  <tr>
                    <% Object.keys(item.data[0]).forEach(function(key) { %>
                      <th><%= key %></th>
                    <% }); %>
                  </tr>
                </thead>
                <tbody>
                  <% item.data.slice(0, 10).forEach(function(obj) { %>
                    <tr>
                      <% Object.values(obj).forEach(function(value) { %>
                        <td><%= value %></td>
                      <% }); %>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
      <% }); %>
  <% } %>
</div>

<h3>Web Scraper Form</h3>
<form action="/scrape" method="POST">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required />
  </div>
  <div>
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" required />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
