<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Signup Here</h1>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <!-- show any messages that come back with authentication -->
    <div class="col-lg-3 mx-auto">
        <form action="/signup" method="post">
            <section class="mb-2">
                <label for="username" class="form-label">Fullname</label>
                <input id="username" class="form-control" name="username" type="text" autocomplete="username" required>
            </section>
            <section class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input id="email" class="form-control" name="email" type="email" autocomplete="email">
            </section>
            <section class="mb-2">
                <label for="new-password" class="form-label">Password</label>
                <input id="new-password" class="form-control"  name="password" type="password" autocomplete="new-password" required>
            </section>
            <button type="submit" class="btn btn-primary mt-2">Sign up</button>
            <p class="mb-2">Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</div>